@charset "UTF-8";

ol, ul, li{list-style-type: none;}

        .membersContent{
            width: 100%;
            height: 910px;
            background: #fff;
        }

        .membersLogin{
            width: 100%;
            height: 640px;
            margin: 0;
            padding: 0;
        }
        
        .membersLogin>div{
            margin: 200px 0 100px 0;
        }

        form{
            width: 400px;
            height: 500px;
            margin: 0 auto;
        }

        .membersLogin-title{
            color: #000;
            font-size: 40px;
            font-weight: 900;
            text-align: center;
        }

        .membersLogin-subtitle{
            color: #000;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            margin-top: 30px;
        }

        .membersLogin-content{
            color: #868e96;
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .membersLogin-input{
            border-bottom: 1px solid #868e96;
            color: #000;
            padding: 12px 0;
        }

        .membersLogin-input span{
            font-size: 14px;
            font-weight: 600;
            width: 18%;
            display: inline-block;
            height: 35px;
        }

        .membersLogin-input input{
            border: none;
            width: 80%;
            height: 30px;
            float: right;
        }

        .membersLogin-find a{
            color: #868e96;
            text-decoration: none;
            display: block;
            font-size: 14px;
            margin: 15px 30px 15px 0;
        }

        .membersLogin-Login{
            background: #000;
            color: #fff;
            padding: 10px 20px;
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 14px;
            cursor: pointer;
        }
 		.membersLogin-Login button{
 			background-color : transparent;
 			border : none;
 			color : #fff;
 		}
        .membersLogin-question{
            font-size: 14px;
            color: #868e96;
            margin-bottom: 10px;
            border-top: 1px solid #d2d2d2;
            padding-top: 10px;
        }

        .membersLogin-join{
            border: 1px solid #868e96;
            color: #868e96;
            font-size: 14px;
            margin-top: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .membersLogin-join span i{
            float: right;
            padding-top: 4px;
        }

        .membersLogin-join a{
            color: #868e96;
            font-weight: 600;
        }

        .membersLogin-join a:hover{
            text-decoration: none;
        }